slack:
  config:
    token: s3cr3t                   #slackbot token
  bot:
    jira:
      pattern: '.*(JRASERVER-\d{1,}).*' #jiraConnectService trigger regex
      scheme: https                 #jira scheme
      host: jira.atlassian.com      #jira host
    plantuml:
      pattern: '@startuml'          #plantumlService trigger regex
      filepath:                     #plantuml save path
      url:                          #plantuml img url

logging:
  level:
    io.kindler.slack: DEBUG