slack:
  config:
    token: s3cr3t                   # slackbot token
  bot:
    jira:
      pattern: '.*(JRASERVER-\d{1,}).*' # jiraConnectService trigger regex
      scheme: https                 # jira scheme
      host: jira.atlassian.com      # jira host
      version: latest               # jira api version

    github:
      auth:
        username: my-github-id      # github id
        password: s3cr3t            # github password
      repo:
        owner: my-github-id         # issue scope (user or organizaion)

    plantuml:
      filepath:                     # plantuml save path
      url:                          # plantuml img url

spring:
  mvc:
    static-path-pattern: /resources/**
logging:
  level:
    io.kindler.slack: DEBUG